@import "./light.css";
@import "./dark.css";
@import "tailwindcss";
@import 'primeicons/primeicons.css';

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

.fade-w-enter-active,
.fade-w-leave-active {
    transition: all 0.5s ease;
}

.fade-w-enter-from,
.fade-w-leave-to {
    opacity: 0;
    width: 0;
}

.font-montserrat {
    font-family: 'Montserrat', sans-serif;
}

.font-rubik {
    font-family: 'Rubik', sans-serif;
}

.font-fira {
    font-family: 'Fira Code', sans-serif;
}
